# Environment variables - contains secrets!
.env

# Generated output files
/output/

# Python cache
__pycache__/
*.pyc

# Input data files
*.epub

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
